.pdp-container {
  display: grid;
  grid-template-areas: "header header header"
                       "image details details"
                       "image details details"
                       "addToCart addToCart addToCart"
  ;
  grid-template-columns: 550px 1fr 1fr;

  margin-top: 50px;
  margin-bottom: 50px;
  
}

.selected-size {
  background-color: black;
  color: white;
}

.pdp-size {
  margin-left: 35px;
}

.pdp-size button {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
}

.pdp-quantity {
  margin-left: 35px;
  margin-top: 10px;
}

.pdp-details {
  grid-area: details;
  background-color: #F8F8F8;
}



.pdp-image {
  grid-area: image;
}

.pdp-image img {
  grid-area: image;
  max-width: 500px;
  max-height: 523px;
}

.pdp-header {
  grid-area: header;
}

.pdp-price, .pdp-price div {
  grid-area: details;
  float: right;
  margin-right: 10px;
}

.pdp-add-to-cart {
  grid-area: addToCart;
}

.pdp-add-to-cart button {
  float: right;
}

.pdp-table {
  border-collapse: collapse;
  width: 500px;
  margin-left:auto; 
  margin-right:auto;
  margin-top: 20px;
}

.pdp-table th {
  border: 1px solid rgb(169, 169, 169, .2); 
  padding: 5px;
  width: 200px;
  height: 50px;
}
.pdp-table td {
  border: 1px solid rgb(169, 169, 169, .2); 
  padding: 5px 5px 5px 20px;
  width: 200px;
  height: 50px;
}

.pdp-table tr:first-child td, .pdp-table tr:first-child th {
  border-top: 0;
}
.pdp-table tr td:first-child, .pdp-table tr th:first-child {
  border-left: 0;
}
.pdp-table tr:last-child td, .pdp-table tr:last-child th {
  border-bottom: 0;
}
.pdp-table tr td:last-child, .pdp-table tr th:last-child {
  border-right: 0;
}


/* tablet-only styling */
@media only screen and (max-width: 1200px) {
  .pdp-container{
    grid-template-columns: 300px 1fr 1fr;
  }

  .pdp-image img{
    max-width: 300px;
  }

  .pdp-table {
    max-width: 300px;
  }
}

/* styling for between 767px-600px */
@media only screen and (max-width: 767px) {
  .pdp-container{
    grid-template-columns: 200px 1fr 1fr;
  }

  .pdp-image img{
    max-width: 200px;
  }

  .pdp-table {
    max-width: 200px;
  }
}

/* mobile-only styling */
@media only screen and (max-width: 600px) {
  .pdp-container {
    grid-template-areas: "header"
    "image"
    "details"
    "addToCart"
    ;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .pdp-image img{
    max-width: 300px;
  }
  .pdp-details {
    background-color: #F8F8F8;
    max-width: 300px;
    text-align: center;
  }
  .pdp-table {
    max-width: 300px;
  }
  .pdp-add-to-cart button {
    float: none;
    width: 100%;
  }
  .pdp-add-to-cart {
    width: 300px;
  }
  .pdp-size button {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
  }
}
