.plp-image-container {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.plp-image-container:hover {
    cursor: pointer;
}

.plp .card {
    text-align: center;
    height: 100px;
}

.sub-category-card:hover,
.sub-category-card.selected {
    background-color: var(--dark);
    cursor: pointer;
}

.sub-category-card:hover h4,
.sub-category-card.selected h4 {
    color: var(--light);
}

.products-container {
    scroll-margin: 100px;
}
